<div class="mt-2 p-2 bg-secondary text-white rounded">
<h1>Structural Directive</h1>
<p>*ngIf, *ngFor....</p>
</div>

<div class="row pt-3">

    <div class="col-3">
        <div class="p-3 text-center" [ngClass]="div1BgColor">
            <h4>Div-1</h4>
        </div>
    </div>

    <div class="col-3">
        <div class="p-3 text-center" [ngClass]="isDiv2Active ==true ? 'bg-success':'bg-warning'">
            <h4>Div-2</h4>
        </div>
    </div>

    <div class="col-3">
        <div class=" p-3 text-center" [ngClass]="num1 == num2 ? 'bg-secondary text-white':'bg-danger'">
            <h4>Div-3</h4>
        </div>
    </div>

    <div class="col-3">
        <div  class="p-3 text-center" [ngClass]="isActive==true?'':''">
            <h4>Div-4</h4>
        </div>
    </div>
    
</div>


<div class="row pt-3">

        <div class="col-3 text-center">
           <button class="btn btn-danger" (click)="addRedClass()">Add Red</button>
           <button class="btn btn-primary mx-2" (click)="addBlueClass()">Add Blue</button>
        </div>
    

    <div class="col-3 text-center">
        <button class="btn btn-success" (click)="toggleDiv2Class()">Toggle</button>
    </div>

    <div class="col-3">
        <div style="display: flex;align-items: center;">
            <input type="text" [ngModel]="num1"  placeholder="Num-1" class="width-50">
            <input type="text" [ngModel]="num2" placeholder="Num-2" class="width-50">
        </div>
    </div>

    <div class="col-3">

        <div style="display: flex;align-items: center;">
            <input type="checkbox" [ngModel]="isActive" class="width-50">
            <select >
                <option value=""><Select> State</Select></option>
                <option value="India">India</option>
                <option value="USA">USA</option>
                <Option value="Shrilanka">Shrilanka</Option>
            </select>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-3">

        <ul>
            <li ></li>
        </ul>
    </div>

    <div class="col-3">
        <div ></div>
    </div>

    <div class="col-3">
        <select>
            <option ></option>
        </select>
    </div>

    <div class="col-3">
         <select>
            <option></option>
         </select>
    </div>
</div>


<div class="row">
    <div class="col-5">
        <table class="table table-bordered">
            <thead>

                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Activation</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span >Active</span>
                        <span >De-Active</span>
                        <!-- {{student.isActive}} -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>